<template>
    <v-row
            align="center"
            justify="center"
        >
        <v-col cols="12">
            <v-list>
                <template v-for="(item, key) in lc">
                    <v-list-item
                            v-if="item.lyrics !== undefined"
                            @click="getLyric(item)"
                            :key="item.title"
                            two-line
                        >
                        <v-list-item-content
                            >
                            <v-list-item-title
                                v-text="item.title"
                            ></v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>
                    <v-flex
                        v-else
                        tag="h3"
                        class="grey darken-4"
                        v-text="item.title"
                        :key="'k' + key"
                    ></v-flex>
                    <v-divider :key="key"></v-divider>
                </template>
            </v-list>
        </v-col>
        <Lyric />
    </v-row>
</template>

<script>
import Lyric from '../components/Lyric'

export default {
    components: {
        Lyric
    },
    data() {
        return {
            lc: LYRICS
        }
    },
    methods: {
        /** Send lyric data to <lyric-component> using Event Bus */
        getLyric(item) {
            if (item.lyrics !== undefined)
                EventBus.$emit('lyric', item)
        }
    },
    mounted() {
        this.$vuetify.theme.dark = true
    }
}
</script>
