<template>
    <v-app>
        <v-container fill-height>
            <Index />
        </v-container>
    </v-app>
</template>

<script>
import Index from './views/Index'

export default {
    components: {
        Index
    }
}
</script>
